* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'montseratt', sans-serif;
}

.App {
  background-image: url('../public/coldWeather.jpeg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.App.warm {
  background-image: url('../public/clearSkyHotWeather.jpeg');
}
main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.35));
  padding: 25px;
}


.search-box {
  width: 100%;
  margin: 0 0 0px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 25px;

  appearance: none;
  background: none;
  border: none;
  outline: none;
  
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;
  margin-bottom: 20px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4x ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75)
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
  margin-top: -10px;
}

.weather-box .temp {
  position: relative;
  /* display: inline-block; */
  margin: 30px auto;
  /* background-color: rgba(255, 255, 255, 0.2); */
  border-radius: 16px;

  padding: -20px 20px 12px 20px;
  /* padding: 20px 12px; */
  /* padding-top: -20px; */

  color: #fff;
  font-size: 100px;
  font-weight: 500px;
  /* font-weight: 900; */

  /* text-shadow: 3px 6px rgba(50, 50, 70, 0.5); */
  text-align: center;
  /* box-shadow: 3px 6px rgba(0, 0, 0, 0.2); */
}

.weather-box .weather {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 5px 5px rgba(50, 50, 70, 0.3);
}

.hourly-bar {
  border-color: #FEE227;
  background-color: #63D1F4;
  display: flex;
  text-align: center;
  padding: 5px 0px;
  padding-bottom: 10px;
  margin:5px;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
}
.hourly-bar::-webkit-scrollbar {
  display: none;
}

.hourly-item {
  width: 90px;
  height: 30px;
  margin: 5px;
  text-align: center;
  font-size: 25px;
  line-height: 1.5;
  justify-content: space-between;
  transition: transform 400ms;
}

.hourly-item:hover {
  transform: scale(1.08);
}
.date-hourly {
  font-size: 10px;
}

.daily-temps {
  background-color: #63D1F4;
  opacity: 0.8;
  /* margin: auto; */
  text-align: left;
  padding: 50px; /*up right down left */
  border: none;
  object-fit: contain;
  transition: transform 450s;
  
}
.daily-temps tr:hover{
  transform: scale(1.08);
  font: 20px bold;
  background-color: forestgreen;
  margin: 50px;
}

.daily-temps table {
  width: 100%;
  border: none;
}

.daily-item {
  margin: 5px;
  width: 2000px;
  border: none;
  /* border:0.1px solid rgb(66, 15, 15); */
  /* text-align: center; */
  /* height: 30px; */
}


.daily-item td{
	padding:10px;
}